.wrap {
  height: 100vh;
  display: flex;
}

main {
  flex: 1;
  display: flex;
}

aside {
  overflow-y: scroll;
  padding: 2em;
  flex: 1;
}

article {
  flex: 4;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.conversation {
  overflow-y: scroll;
  flex: 1 1 auto;
}

.bottom-input {
  flex: 0 1 auto;
}




