<p>me</p>
<select ng-model="myDhtId" id="inputMyDhtId" required>
  <option ng-repeat="option in friends" value="{{option.dht_id}}">{{option.nick}}</option>
</select>
<p>friends:</p>
<ul>
  <li ng-repeat="item in friends">
    {{item.nick}}
  </li>
</ul>
<br>__________________<br>
<p>Conversation</p>

<!--<div ng-repeat="item in conversation">-->
  <!--{{item.infoHash}}  {{item.message.sender}} : {{item.message.text}}    t:{{item.message.timestamp | date:'medium'}}     {{item.message.previousInfoHash}}-->
<!--</div>-->

<table class="table-bordered conversation">
  <tr ng-repeat="item in conversation | orderBy:'message.timestamp'">
    <td>{{$index + 1}}</td>
    <td>{{item.infoHash}}</td>
    <td>{{item.message.sender}}</td>
    <td>{{item.message.text}}</td>
    <td>{{item.message.timestamp | date:'medium'}}</td>
    <td>{{item.message.previousInfoHash}}</td>
  </tr>
</table>


<form class="form-horizontal send-message-form" role="form" ng-submit="sendMessage()">

  <div class="input-group">
    <input ng-model="textInput" type="text" class="form-control" id="inputMessage" placeholder="Type message..." required>
    <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit">Send!</button>
      </span>
  </div>
</form>
<button class="btn btn-secondary" ng-click="checkMessages()">check!</button>
