<div class="wrap">
  <aside>
    <div class="container" scroll-glue>
      <div ng-show="currentConversationId">
        <p>conversation ID:</p>
        <form class="send-message-form" role="form">
          <div class="input-group">
            <input type="text" ng-model="currentConversationId" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-secondary" clipboard supported="supported" text="currentConversationId" on-copied="copySuccess()" on-error="copyFail(err)">Copy</button>
            </span>
          </div>
        </form>

        <p>friends in conversation:</p>
        <ol ng-repeat="friendsList in friendsInConversations">
          <li ng-repeat="item in friendsList">
            {{item.username}} {{item.user_dht_id}}
          </li>
        </ol>
      </div>
      <div ng-hide="currentConversationId">
        <form>
          <input id="conversationIdInput" ng-model="conversationIdInput" type="text" class="form-control" autocomplete="off" placeholder="conversation ID">
          <button class="btn btn-secondary" ng-click="joinConversation()">Join</button>
          <button class="btn btn-secondary" ng-click="createNewConversation()">Create new</button>
        </form>
      </div>



      <!--myConversations<br>-->
      <!--{{myConversations}}-->
      <!--<br><br>-->
      <!--conversationsDhts<br>-->
      <!--{{dhtIdsInConversations}}-->
      <!--<br><br>-->
      <!--friendsInConversations<br>-->
      <!--{{friendsInConversations[currentConversationId]}}-->
      <!--<br><br>-->


      <button class="btn btn-secondary" ng-click="checkMessages()">check</button>
      <button class="btn btn-secondary" ng-click="clearStorageAndRefresh()">clear&refresh</button>

      <br>

      <table class="table">
        <tr>
          <th>m</th>
          <td ng-repeat="m in my">{{m.length}}</td>
        </tr>
        <tr>
          <th>ctrl</th>
          <td ng-repeat="m in con">{{m.length}}</td>
        </tr>
        <tr>
          <th>ot</th>
          <td>{{ot.length}}</td>
        </tr>
        <tr>
          <th>otCtrl</th>
          <td>{{otherControl.length}}</td>
        </tr>
      </table>


      <!--<ul ng-repeat="m in otherControl">-->
      <!--<li>{{m.length}}</li>-->
      <!--</ul>-->
      <!--ot-->
      <!--<ul ng-repeat="m in ot">-->
      <!--<li>{{m.length}}</li>-->
      <!--</ul>-->

      <p>torrents {{getTorrents().length}}</p>
      <ol>
        <li ng-repeat="torrent in getTorrents() | orderBy:'infoHash'">
          <span class="color-block" ng-style="{'background-color':'#'+torrent.infoHash.substring(0,6)}">&nbsp</span>
          {{truncate(torrent.infoHash)}} prs: {{torrent.numPeers}}
          </li>
      </ol>
      <p>last infoHashes {{getLastInfoHashes().length}}</p>
      <ol>
        <li ng-repeat="ih in getLastInfoHashes() | orderBy:'infohash'">
          <span class="color-block" ng-style="{'background-color':'#'+ih.infohash.substring(0,6)}">&nbsp</span>
          {{truncate(ih.infohash)}}
        </li>
      </ol>

    </div>

    <!--TODO FOR TESTS ONLY-->
    <div>
    <form class="set-form" role="form">
      <div class="input-group">
        <input id="reqSetInput" type="text" ng-model="testSetNumOfMsgForLvl" class="form-control">
        <span class="input-group-btn">
              <button id="reqSetButton" class="btn btn-secondary" ng-click="emitSetNumOfMsgForLvl()">emit set</button>
            </span>
      </div>
    </form>
    <button id="reqClearButton" class="btn btn-secondary" ng-click="emitClear()">emit clear</button>
    </div>


  </aside>

  <article>
    <section class="conversation" scroll-glue>

      <section class="module">

        <!--todo wiadomość jako component-->
        <ol class="discussion">
          <li ng-repeat="item in getConversation() | orderBy:'message.timestamp'" ng-class="myDhtId===item.message.sender ? 'self' : 'other'">
            <div class="avatar">
              <img ng-src="images/avatar.gif" />
            </div>
            <div class="messages">
              <div>
                <span>{{$index + 1}}&nbsp;&nbsp;&nbsp;</span>
                <span class="message-content" id="message{{$index}}">{{item.message.content}}</span>
              </div>
              <time ng-repeat="sentBy in friendsInConversations[currentConversationId] | filter:item.message.sender">{{sentBy.username}} • {{item.message.timestamp | date:'H:mm:ss'}}</time><br/>
              <time>
                <span class="color-block" ng-style="{'background-color':'#'+item.infoHash.substring(0,6)}">&nbsp</span>
                {{truncate(item.infoHash)}} •
                <span class="color-block" ng-style="{'background-color':'#'+item.message.previousInfoHash.substring(0,6)}">&nbsp</span>
                {{truncate(item.message.previousInfoHash)}}
              </time>
            </div>
          </li>
        </ol>

      </section>

    </section>

    <div class="bottom-input">

      <div>

        <form class="send-message-form" role="form" ng-submit="sendMessage()">
          <div class="input-group">
            <input ng-model="textInput" type="text" class="form-control" id="inputMessage" placeholder="Type message..." autocomplete="off">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="submit">Send!</button>
            </span>
          </div>
        </form>

      </div>

    </div>
  </article>

</div>
