<div class="wrap">
  <aside>
    <div class="container">
      <p>friends:</p>
      <ul>
        <li ng-repeat="item in friends">
          {{item.username}}
        </li>
      </ul>

      <button class="btn btn-secondary" ng-click="checkMessages()">check!</button>

      <!-- todo to remove -->
      <p>Current user</p>
      <ul ng-repeat="(key, val) in currentUser">
        <li>{{key}}: {{val}}</li>
      </ul>
    </div>


  </aside>

  <article>
    <section class="conversation" scroll-glue>

      <section class="module">

        <!--todo wiadomość jako component-->
        <ol class="discussion" ng-repeat="item in getConversation() | orderBy:'message.timestamp'">
          <li ng-class="myDhtId===item.message.sender ? 'self' : 'other'">
            <div class="avatar">
              <img ng-src="images/avatar.gif" />
            </div>
            <div class="messages">
              <p>{{$index + 1}}&nbsp;&nbsp;&nbsp;{{item.message.text}}</p>
              <time ng-repeat="sentBy in friends | filter:item.message.sender">{{sentBy.username}} • {{item.message.timestamp | date:'H:mm:ss'}}</time><br/>
              <time>{{truncate(item.infoHash)}} • {{truncate(item.message.previousInfoHash)}}</time>
            </div>
          </li>
        </ol>

      </section>

    </section>

    <div class="bottom-input">

      <form class="form-horizontal send-message-form" role="form" ng-submit="sendMessage()">
        <div class="input-group">
          <input ng-model="textInput" type="text" class="form-control" id="inputMessage" placeholder="Type message..." autocomplete="off">
          <span class="input-group-btn">
              <button class="btn btn-secondary" type="submit">Send!</button>
            </span>
        </div>
      </form>

    </div>
  </article>

</div>







<!--<span>Conversation</span>-->
<!--<button class="btn btn-secondary" ng-click="checkMessages()">check!</button>-->
<!--<div class="message-component" ng-repeat="item in conversation | orderBy:'message.timestamp'">-->
<!--<div class="main-message-component">-->
<!--<span>{{$index + 1}}</span>-->
<!--<span>from: {{item.message.sender}}</span>&nbsp;&nbsp;&nbsp;-->
<!--<span>{{item.message.text}}</span>-->
<!--</div>-->
<!--<div class="additional-message-component">-->
<!--<span>{{item.infoHash}}</span>&nbsp;&nbsp;&nbsp;-->
<!--<span class="time">{{item.message.timestamp | date:'medium'}}</span>-->
<!--<span>{{item.message.previousInfoHash}}</span>-->
<!--</div>-->

<!--</div>-->







<!--<table class="table-bordered conversation">-->
<!--<tr ng-repeat="item in conversation | orderBy:'message.timestamp'">-->
<!--<td>{{$index + 1}}</td>-->
<!--<td>{{item.infoHash}}</td>-->
<!--<td>{{item.message.sender}}</td>-->
<!--<td>{{item.message.text}}</td>-->
<!--<td>{{item.message.timestamp | date:'medium'}}</td>-->
<!--<td>{{item.message.previousInfoHash}}</td>-->
<!--</tr>-->
<!--</table>-->
